.MessageItemImg {
    width: 70%;
    height: 60%;
    border-radius: 5px;
    margin: 20px;
}

.MessageItemP,
.MessageItemH1,
.MessageItemName {
    display: inline;
    color: #1a191f;
    font-weight: bolder;
    font-family: 'Domine', serif;
    font-variant: small-caps;
    text-shadow: 0px 1px 1px #212029, 0px 0px 1px rgba(45, 43, 62, 1);
    margin: 0;
    font-size: 25px;
    font-weight: 100;

}

.MessageItemName {

    font-size: 30px;
    display: inline;
    font-variant: small-caps;
    color: green;
    margin: 0;
}

.FormInput {
    margin-top: 50px;
    width: 70%;
    height: 50px;
    margin: 20px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bolder;
}

.request__button {
    margin-left: 20px;
    height: 8%;
    width: 70%;
    color: #262729;
    font-weight: 900;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #e1e2dc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #383737, 5px 5px 10px #b4b8c2;
    transition: all 0.2s ease-in-out;
}

.request__button:hover {

    color: #dadad4;
    box-shadow: 2px 2px 5px #FFF, 2px 2px 5px #b4b8c2;
    background: #2c2c2c;
}

.request__button:active {
    background: #474746;
}